<ion-content>
  <div style="padding: 1em;">
    <mat-card style="padding: 1em;   border-left: 6px solid #3171e0;
">
      <ion-row>
        <ion-col>
          <mat-form-field style="width: 100%;" appearance="fill">
            <mat-label>Nome do documento</mat-label>
            <input [(ngModel)]="documento" matInput>
          </mat-form-field>
        </ion-col>

        <ion-col>
          <mat-form-field style="width: 100%;" appearance="fill">
            <mat-label>Data de validade</mat-label>
            <input [(ngModel)]="validade" matInput>
          </mat-form-field>
        </ion-col>

        <button mat-stroked-button color="primary" style="width: 100%;"
          (click)="navigate('', documento, validade)">Adicionar
          documento</button>
      </ion-row>
    </mat-card>
  </div>

</ion-content>
