<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar class="new-background-color">
    <ion-title>
      ME LEMBRE! </ion-title>
  </ion-toolbar>

  <ion-button (click)="scheduleBasic()" expand="block" fill="clear">
    Schedule Basic
  </ion-button>



  <!-- Documento Inserido -->
  <div style="padding: 1em;">
    <ion-row>
      <ion-col size="12">

        <ion-list>
          <ion-item>
            <ion-select [(ngModel)]="newItem.nomeDocumento" placeholder="Documento">
              <ion-select-option *ngFor="let doc of documentsList" value="{{doc.model}}">{{doc.model}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
      </ion-row>
          <ion-row>

      <ion-col size=" 12">
        <mat-form-field style="width: 100%;">
          <mat-label>Apelido:</mat-label>
          <input [(ngModel)]="newItem.nome" matInput>
        </mat-form-field>
      </ion-col>
    </ion-row>

    <br>
    <mat-form-field style="width: 100%;">
      <mat-label>Selecione a data de vencimento</mat-label>
      <input matInput [(ngModel)]="newItem.value" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br><br>

    <div class="flex-container">
      <button mat-raised-button
        style="background-color: #00984A; color: #fff; width: 80%; height: 50px; border-radius: 10px;"
        (click)="addItem()">ADICIONAR DOCUMENTO</button>
    </div>
    <!-- <ion-button expand=" full" (click)="addItem()">Add Item!</ion-button> -->

    <BR>
    <!-- <div *ngIf="items.length !== 0">
      <h3 class="flex-container">
        MEUS DOCUMENTOS
      </h3> -->
    <mat-accordion *ngFor="let item of items">
      <mat-expansion-panel style="border-left: 6px solid #00984A;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.nome}}
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-card style="padding: 1em ;border-right: 6px solid #00984A;">
          <h3> <b>Tipo Documento:</b> {{item.nomeDocumento}}
          </h3>
          <h3> <b>Validade:</b> {{item.value | date:'dd/MM/yyyy'}}
          </h3>
          <br>
          <div class="flex-container">
            <button mat-raised-button color="warn" style="width: 80%;" (click)="deleteItem(item)">
              EXCLUIR</button>
          </div>
        </mat-card>
      </mat-expansion-panel>
      <br>

    </mat-accordion>
    <!-- </div> -->



    <br><br>
    <br>
    <img src="../../assets/icon.png">

  </div>
</ion-content>
